<!-- ======= Contact Us Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact Us</h2>
      <p>Contact us the get started</p>
    </div>

    <div class="contact-content">
      <div class="top-content">
        <p class="c-heading">Let us know how we can help</p>
        <p class="c-desc">
          We’re here to help and answer any question you might have, We look
          forward to hearing from you .
        </p>
      </div>

      <div class="box-container">
        <div class="box">
          <p class="head">Our Office</p>
          <div class="info-container">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5a2.5 2.5 0 0 1 0 5z"
                />
              </svg>
            </span>
            <span>Office Address, Bangalore - 1234</span>
          </div>
          <div></div>
        </div>
        <div class="box">
          <p class="head">Phone</p>
          <div class="info-container">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M16 1H8C6.34 1 5 2.34 5 4v16c0 1.66 1.34 3 3 3h8c1.66 0 3-1.34 3-3V4c0-1.66-1.34-3-3-3zm-2 20h-4v-1h4v1zm3.25-3H6.75V4h10.5v14z"
                />
              </svg>
            </span>
            <span>Office Address, Bangalore - 1234</span>
          </div>
        </div>
        <div class="box">
          <p class="head">Email</p>
          <div class="info-container">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5l-8-5V6l8 5l8-5v2z"
                />
              </svg>
            </span>
            <span>Office Address, Bangalore - 1234</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Us Section -->
