<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-lg-5 d-flex align-items-center justify-content-center about-img"
      >
        <img
          src="assets/img/about-img.svg"
          class="img-fluid"
          alt=""
          data-aos="zoom-in"
        />
      </div>
      <div class="col-lg-6 pt-5 pt-lg-0">
        <h3 data-aos="fade-up">Who we are?</h3>
        <p data-aos="fade-up" data-aos-delay="100">
          Our interior design company offers a wide range of services to help
          you create the perfect space. Here are some of the services we provide
        </p>
        <div class="row">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <i>
              <svg
                class="mb-2 text-[#FE6244]"
                xmlns="http://www.w3.org/2000/svg"
                width="45"
                height="45"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M12 3c5.5 0 10 3.58 10 8s-4.5 8-10 8c-1.24 0-2.43-.18-3.53-.5C5.55 21 2 21 2 21c2.33-2.33 2.7-3.9 2.75-4.5C3.05 15.07 2 13.13 2 11c0-4.42 4.5-8 10-8m5 9v-2h-2v2h2m-4 0v-2h-2v2h2m-4 0v-2H7v2h2Z"
                />
              </svg>
            </i>
            <h4>Live Update</h4>
            <p>
              You can track status of your dream coming true. Our on ground
              engineers provide day-to-day updates at every stage of the
              project.
            </p>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <i>
              <svg
                class="mb-2 text-[#FE6244]"
                xmlns="http://www.w3.org/2000/svg"
                width="45"
                height="45"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M14.5 8h1V7h-1v1Zm-2 0h1V7h-1v1ZM14 22.5l-7-1.95V11h1.95l6.2 2.3q.825.3 1.337 1.05T17 16h-2q-1.05 0-1.65-.075T12.3 15.7l-2-.65l-.3.95l1.575.575q.7.275 1.275.35T14.2 17H19q1.65 0 2.325.537T22 19v1l-8 2.5ZM1 22V11h4v11H1Zm17.525-8q-.35-.825-1-1.45t-1.6-.975L9 9H7V6.5l7-5l7 5V14h-2.475ZM14.5 10h1V9h-1v1Zm-2 0h1V9h-1v1Z"
                />
              </svg>
            </i>
            <h4>100% Transperency</h4>
            <p>
              We are able to provide 100% transperency as we are trying to adapt
              concept of cloud kitchen and follow lean startup methodology. Due
              to low maintenance there are no hidden cost.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
