<swiper id="home" class="swiper" [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../../assets/living-room/3.jpg" alt="img 1" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/living-room/10.jpg" alt="img 2" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/living-room/15.jpg" alt="img 3" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/living-room/19.jpg" alt="img 4" />
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/living-room/16.jpg" alt="img 5" />
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>

<!-- ======= Hero Section ======= -->
<!-- <section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Transform Your Space, Elevate Your Style</h1>
        <h2>
          At our company, we are dedicated to transforming spaces into beautiful
          and functional environments that inspire and delight. We understand
          that your space is a reflection of your unique personality and style,
          and we strive to create designs that capture your vision and exceed
          your expectations
        </h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/hero-img.svg" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section> -->
<!-- End Hero -->
