<div id="hero" class="relative z-[-100]">
  <carousel
    cellWidth="100%"
    [height]="650"
    [autoplay]="true"
    [images]="imageObject"
    [arrows]="false"
    [loop]="true"
  >
  </carousel>
</div>
<!-- <div
  class="relative flex items-end justify-center h-screen overflow-hidden px-4"
>
  <div class="relative text-center">
    <p
      class="text-2xl sm:text-3xl text-white font-bold mb-4 tracking-widest font-sans"
    >
      Meet the Best Interior Designers
    </p>
    <p class="text-xl sm:text-2xl text-white tracking-wide mb-10 brightness-75">
      One stop solution
    </p>
  </div>
  <video
    autoplay
    loop
    muted
    class="absolute z-[-10] hidden sm:block w-[100vw] h-[100vh] brightness-50 object-cover"
  >
    <source src="../../../assets/production ID_3770017.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <video
    class="absolute z-[-10] block sm:hidden w-[100vw] h-[100vh] brightness-50 object-cover"
    autoplay
    loop
  >
    <source src="../../../assets/pexels-charlotte-may-5823707.mp4" />
  </video>
</div> -->
